@model ArticleListDto

<section class="blog-posts">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            @foreach (var item in Model.Articles)
                            {

                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src="~/stand-blog/assets/images/blog-post-01.jpg" alt="">
                                    </div>
                                    <div class="down-content">
                                        <a href="post-details.html"><h4>@item.Title</h4></a>
                                        <ul class="post-info">
                                            <li>@item.User.FirstName @item.User.LastName</li>
                                            <li>@item.CreatedDate.ToString("dd/MM/yyyy")</li>
                                            <li><i class="fa-solid fa-eye"></i> @item.ViewCount</li>
                                        </ul>
                                        <p>
                                            @(item.Content.Length > 280 ? item.Content.Substring(0, 280) : item.Content) ...
                                        </p>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="post-tags">
                                                        <li><i class="fa fa-tags"></i></li>
                                                        <li><a href="#">@item.Category.Name</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-6">
                                                    <ul class="post-share">
                                                        <li><i class="fa fa-link"></i></li>
                                                        <li><a href="#">[Devamını Oku]</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-lg-12">
                            @*<div class="main-button">
                            <a href="blog.html">View All Posts</a>
                            </div>*@

                            <ul class="pagination justify-content-center mb-4 mt-4 btn-block">

                                @if (Model.ShowPrevious)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-route-currentPage="@(Model.CurrentPage - 1)" asp-route-pageSize="@Model.PageSize"> Önceki </a>
                                    </li>
                                }
                                @for (int i = 1; i < Model.TotalPages; i++)
                                {
                                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">

                                        <a class="page-link" asp-route-currentPage="@i" asp-route-pageSize="@Model.PageSize"> @i </a>
                                    </li>
                                }
                                @if (Model.ShowNext)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-route-currentPage="@(Model.CurrentPage + 1)" asp-route-pageSize="@Model.PageSize"> Sonraki </a>
                                    </li>
                                }

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item search">
                                <form id="search_form" asp-controller="Home" asp-action="Search" method="GET">
                                    <input type="text" name="keyword" class="searchText" placeholder="Arama yapınız..." autocomplete="on">
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item recent-posts">
                                <div class="sidebar-heading">
                                    <h2>Recent Posts</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li>
                                            <a href="post-details.html">
                                                <h5>Vestibulum id turpis porttitor sapien facilisis scelerisque</h5>
                                                <span>May 31, 2020</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="post-details.html">
                                                <h5>Suspendisse et metus nec libero ultrices varius eget in risus</h5>
                                                <span>May 28, 2020</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="post-details.html">
                                                <h5>Swag hella echo park leggings, shaman cornhole ethical coloring</h5>
                                                <span>May 14, 2020</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item categories">
                                <div class="sidebar-heading">
                                    <h2>KATEGORİLER</h2>
                                </div>
                                @await Component.InvokeAsync("HomeCategories")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>