@model List<CategoryDto>

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Kategori Yönetimi /</span> Kategoriler
    </h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <div class="table-responsive text-nowrap m-5">

            <a class="btn btn-success mb-3" asp-area="Admin" asp-controller="Category" asp-action="Add">
                Kategori Ekle <i class="bx bx-plus"></i>
            </a>

            <table class="table table-bordered" id="categoriesTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>İsim</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan</th>
                        <th>Durum</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>İsim</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan</th>
                        <th>Durum</th>
                        <th>İşlemler</th>
                    </tr>
                </tfoot>
                <tbody class="table-border-bottom-0">
                    @foreach (var category in Model)
                    {
                        <tr name="@category.Id">
                            <td>@category.Name</td>
                            <td>@category.CreatedDate.ToShortDateString()</td>
                            <td>@category.CreatedBy</td>
                            <td>@(category.IsDeleted ? "Aktif Değil" : "Aktif")</td>
                            <td>
                                <a class="btn btn-primary btn-sm" data-id="@category.Id" asp-area="Admin" asp-controller="Category" asp-action="Update" asp-route-categoryId="@category.Id"><i class="bx bxs-edit"></i></a>
                                <a class="btn btn-danger btn-sm" data-id="@category.Id" asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-categoryId="@category.Id"><i class="bx bx-minus-circle"></i></a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/categoryIndex.js" type="application/ecmascript"></script>
}